html{
    box-sizing: border-box;
}
*,:after, :before{
   box-sizing: inherit; 
}
body{
    background-color:#262626;
    max-width:1000px;
    font-family: 'Rajdhani', sans-serif;
    margin:auto;
}
