html{
    box-sizing: border-box;
}
*,:after, :before{
   box-sizing: inherit; 
}
body{
    background-color:#262626;
    max-width:1000px;
    font-family: 'Rajdhani', sans-serif;
    margin:auto;
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
